<md-toolbar>
  <md-input-container dividerColor="accent" class="trm-search-container">
    <input mdInput type="text" (input)="term$.next($event.target.value)">
  </md-input-container>
  <md-icon color="accent">search</md-icon>
</md-toolbar>

<md-list>
  <a [routerLink]="['/contacts', contact.id]" md-list-item *ngFor="let contact of contacts$ | async; trackBy: trackByContacts">

    <img md-list-avatar [src]="contact.image" alt="Picture of {{contact.name}}">
    <h3 md-line>{{contact.name}}</h3>

  </a>
</md-list>
